/*!
 * Copyright (c) 2019 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

// layout styling
p:empty {
	display: none;
}

main {
	padding-bottom: 0;
}

.wrapper {
	margin-right: 40px;
}

.list-org img {
	max-height: 125px;
	padding: 10px 25px;
}

.section {
	h1 {
		color: #004D66;
		font-size: 34px;
		font-weight: 700;
	}

	h2 {
		color: #f59646;
		font-size: 28px;
		font-weight: 200;
	}

	h3 {
		color: #004D66;
		font-size: 20px;
		font-weight: 700;
	}

	p,
	li {
		font-size: 16px;
		font-weight: 400;
	}
}

.row-gray {
	background-color: #f4f4f4;
}

.element {
	left: -150px;
	position: absolute;
}

.end {
	margin-bottom: 0;
}

// Project archetype styling
.project-item .project-type {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}

.success-project {
	background: @brand-tertiary;
	color: #fff;
}

.running-project {
	background: #DA7F0E; // dark orange
	color: #fff;
}

.friend-project {
	background: @brand-tertiary;
	color: #fff;
}

.project-list .project-item img {
	max-height: 150px;
}

.list-inline .vertical-align {
	vertical-align: middle;
}

#social-media-links {
	font-size: 18px;
}

@media(min-width: 992px) {
	.project-list .project-item img {
		max-height: 100px;
	}
}

// Project Page styling
.bg-white {
	background-color: white;
}

.bg-light-gray {
	background-color: @light-gray;
}

.bg-mid-gray {
	background-color: @mid-gray;
}

.research-page-section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.description-bg {
	background-color: @dark-blue;

	&::after {
		background-color: @dark-blue;
	}
}

.funded-bg {
	.bg-light-gray();

	&::after {
		.bg-light-gray();
	}
}

.contributions-bg {
	.bg-mid-gray();

	&::after {
		.bg-mid-gray();
	}
}

.extended-bg-left {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 1000px;
		top: 0;
		right: 100%;
	}
}

.extended-bg-right {
	position: relative;
	margin-left: -15px;

	&::after {
		content: "";
		position: absolute;
		height: 100%;
		width: 1000px;
		top: 0;
		left: 100%;
	}
}

.content-left {
	position: relative;
	padding: 30px 50px 30px 0px;

	@media screen and (max-width: 768px) {
		padding: 30px 0px;
	}

	h1,
	h2,
	p,
	a,
	ul {
		color: white;
	}
}

.content-right {
	position: relative;
	margin-left: 40px;
	z-index: 1;

	h2 {
		font-size: 24px;
	}

	@media screen and (max-width: 768px) {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.main-logo-wrapper {
	padding: 50px 30px;
	flex-grow: 3;
	height: 300px;
	display: flex;
	align-items: center;

	img {
		max-width: 180px;
	}
}

.small-logo-wrapper {
	display: flex;
	align-items: center;
	padding: 10px;

	img {
		max-height: 120px;
		max-width: 120px;
	}
}

.social-links-section {
	margin-top: 30px;

	p {
		float: left;
		margin: 10px 5px 0px 0px;
	}
}

.header-projects-bg-img {
	background-image: @header-projects-bg-img;
	padding-bottom: 100px;

	img {
		max-width: 150px;
	}
}

.overflow-hidden {
	overflow: hidden;
}

// home - value tiles
#our-value ul.list-inline li {
	& {
		padding: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&:nth-child(odd) {
		border-right: 1px solid #ccc;
	}

	&:last-child {
		border-right: none;
	}
}

@media (min-width: 992px) {
	#our-value ul.list-inline li {
		border-right: 1px solid #ccc;
	}
}

.sidebar-panel h2 {
	font-size: 24px;
}